# Git
.git/
.gitignore

# Ambientes virtuais
venv/
env/

# Arquivos Python compilados
__pycache__/
*.pyc

# Arquivos gerados localmente
last_audit_cache.json
settings.json
*.log
*.pdf
*.docx
*.md
*.html